<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Result\log\Log.txt"/>
      <!--<param name="File" value="%properties{LogFileName}"/>-->
      <param name="AppendToFile" value="true"/>
      <rollingStyle value ="Size"/>
      <param name="maximumFileSize" value="100MB"/>
      <!--<staticLogFileName value="false" />
      <datePattern value="yyyyMMddHHmmss&quot;.txt&quot;" />
      <rollingStyle value="Date" />-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="LogService.loglayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p  - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
